
.center {text-align: center}
.sr-only {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.strong {font-weight: bold;}
.italic {font-style: italic;}
.serif {font-family: serif;}
.sans {font-family: sans-serif;}
.big {font-size: 1.5em;}
.small {font-size: .75em;}
.offset {
    margin: 1em;
    padding: 1.5em;
    border: black 1px solid;
}
img {
    padding: 0;
    margin: .5em auto;
    max-width: 90%;
    max-height: 100%;
    display: block
}
h2,h1 {
  page-break-before: always;
}
p{
  margin: 0 initial;
  text-indent: 1.5rem;
}
pre {
  margin: 1em initial;
  padding-left: 3rem;
  overflow-x: hidden;
  overflow-wrap: break-word;
  
}
p pre {
  text-indent: 0;
}
center {
  margin-bottom: 1em;
}